<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p> <a href="https://www.linkedin.com/in/shivendra-kumar-sahu-2bb06318b/" target="_blank">LinkedIn</a> </p>
    <p> <a href="https://www.instagram.com/shhhiv01" target="_blank">Instagram</a> </p>
    <p> <a href="https://github.com/shivks01" target="_blank">Github</a> </p>
    <p> <a href="mailto:shivealt@gmail.com">Email</a> </p>
<%- include("partials/footer"); -%>
